# Brittney Kistner 
## HW1: Titanic

In [5]:
import pandas as pd 
import os
os.chdir('/Users/bkistner/Desktop/ga_data_science/projects/SF-DAT-20/Data') 
data = pd.read_csv('titanic.csv')

In [6]:
data.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

1) How many passengers are in our passenger list? From here forward, weâ€™ll assume our dataset represents the full passenger list for the Titanic.

In [7]:
#Check if there are any null passengers
print data.isnull().sum()['name'] 
len(data)

0

891

2) What is the overall survival rate?

In [8]:
# Check if there are any null values in the survived column
survival_rate = round((len(data[data['survived']==1])/float(len(data)))*100,2)
'Survival rate of %s%%' % survival_rate

'Survival rate of 38.38%'

3) How many male passengers were onboard?

In [9]:
data.isnull()['sex'] #Check if any values under sex are null
number_of_males = len(data[data['sex']=='male'])
'There were %s men' % number_of_males

'There were 577 men'

4) How many female passengers were onboard?

In [10]:
number_of_females = len(data[data['sex']=='female'])
'There were %s women' % number_of_females

'There were 314 women'

5) What is the overall survival rate of male passengers?

In [11]:
male = data['sex'] == 'male'
survived = data['survived'] == 1
number_of_male_survivors = len(data[male&survived])
male_survival_rate = round(number_of_male_survivors/float(len(data)),2)*100
'Male survival rate of %s%%' % male_survival_rate

'Male survival rate of 12.0%'

6) What is the overall survival rate of female passengers?

In [12]:
female = data['sex'] == 'female'
survived = data['survived'] ==1
number_of_female_survivors = len(data[female&survived])
female_survival_rate = round(number_of_female_survivors/float(len(data)),2)*100
'Female survival rate of %s%%' % female_survival_rate

'Female survival rate of 26.0%'

7) What is the average age of all passengers onboard?
    * How did you calculate this average age?
    * Note that some of the passengers do not have an age value. How did you deal with this? What are some other ways of dealing with this?

In [63]:
# Number of null age values
number_of_missing_ages = (len(data) - data['age'].count())
print "Total number of passengers where an age value is missing:   %s" % number_of_missing_ages
print "Total number of passengers aboard:   %s" % len(data)
print "Percent of passengers missing an age:   %s%%" % round((number_of_missing_ages/float(len(data)))*100,2)


# There are a couple of approaches we can take to calculating the average age of passengers:

# Option 1
# Take the average age of passengers exlcluding null rows
average_age_with_null_age_values_removed = round(data['age'].mean(),2)
print "\n"
print "The average age when the null age values removed from data: %s years" % average_age_with_null_age_values_removed

# Option 2
# Populate the null values with the average age
data['age'].fillna(data['age'].mean(), inplace=True)
average_age = round(data['age'].mean(),2)
print "\n"
print "The average age when the null age values are populated with the average age: %s years" % average_age

# Neither option is a good representation of the average age of all passengers on board.

# A couple of other ways to compensate for missing data 
# would be to determine if a correlation between the age and other known data.

# However, the technique of dealing with missing data is dependent on the cost of patching the 
# data vs. throwing the data out.

# I'm sure there are more advanced techniques to address the problem of missing data.  Something I hope to learn more about.

Total number of passengers where an age value is missing:   0
Total number of passengers aboard:   891
Percent of passengers missing an age:   0.0%


The average age when the null age values removed from data: 29.7 years


The average age when the null age values are populated with the average age: 29.7 years

8) What is the average age of passengers who survived?

In [35]:
avg_age_surviving_passengers = round(data[data['survived'] == 1]['age'].mean(),2)
print "Average age of surviving passengers: %s years" % avg_age_surviving_passengers

Average age of surviving passengers: 28.55 years

9) What is the average age of passengers who did not survive?

In [36]:
avg_age_deceseased_passengers = round(data[data['survived'] == 0]['age'].mean(),2)
print "Average age of passengers who did not survive: %s years" % avg_age_deceseased_passengers

Average age of passengers who did not survive: 30.42 years

10) At this (early) point in our analysis, what might you infer about any patterns
you are seeing?

With a female survival rate of 26% vs a male survival rate of 12%.  More women survived.  The average age of all passengers is roughly 29.7 years old.  Whereas the average age of surviving passengers is 28.55 years.  It doesn't seem like a strong correlation that more younger people survived vs older people.

More data collected below to see if additional inferences can be made.

In [43]:
import math
ages_surviving_females = data[female&survived]['age']
ages_surviving_males = data[male&survived]['age']
print "Average age of surviving women: %s years" % round(ages_surviving_females.mean())
print "Youngest surviving female: %s years" % math.ceil(ages_surviving_females.min())
print "Oldest surviving female: %s years" % round(ages_surviving_females.max()) 
print "Oldest deceased female: %s years" % round(data[female&data['survived'] == 0]['age'].max())
print "Average age of surviving men: %s years" % round(ages_surviving_males.mean())
print "Youngest surviving male: %s years" % math.ceil(ages_surviving_males.min())
print "Oldest surviving male: %s years" % round(ages_surviving_males.max())
print "Oldest deceased male: %s years" % round(data[male&data['survived'] == 0]['age'].max())

Average age of surviving women: 29.0 years
Youngest surviving female: 1.0 years
Oldest surviving female: 63.0 years
Oldest deceased female: 80.0 years
Average age of surviving men: 28.0 years
Youngest surviving male: 1.0 years
Oldest surviving male: 80.0 years
Oldest deceased male: 74.0 years

11) How many passengers are in each of the three classes of service (e.g. First,
Second, Third?)

In [58]:
# Determine if any values in the pclass column are missing
print len(data) - data['pclass'].count()

first_class_total = len(data[data['pclass'] == 1])
second_class_total = len(data[data['pclass'] == 2])
third_class_total = len(data[data['pclass'] == 3])

print "First class total: %s" % first_class_total
print "Second class total: %s" % second_class_total
print "Third class total: %s" % third_class_total

0
First class total: 216
Second class total: 184
Third class total: 491

12) What is the survival rate for passengers in each of the three classes of service?

In [104]:
class_dict = {1:["First", first_class_total], 2: ["Second", second_class_total], 3: ["Third", third_class_total]}

for i,j in class_dict.items():
    survival_rate = round((len(data[((data['pclass'] == i) & survived)])/float(j[1]))*100,2)
    print "%s class survival rate: %s%%" % (j[0],survival_rate)

First class survival rate: 62.96%
Second class survival rate: 47.28%
Third class survival rate: 24.24%

13) What else might you conclude?

Although more third class passengers were on the titantic compared to first and second class passengers, less third class passengers survived.

14) Last, if we were to build a predictive model, which features in the data do you
think we should include in the model and which can we leave out? Why?

In [62]:
# Determine if ticket number is a unique identifier for each passenger
def check_ticket_as_unique_id():
    if len(data.set_index('ticket').index.get_duplicates()) > 0:
        return False
    return True
print check_ticket_as_unique_id()

# Determine if the name is a unique identifier
def check_name_as_unique_id():
    if len(data.set_index('name').index.get_duplicates()) > 0:
        return False
    return True
print check_name_as_unique_id()

# Determine if null values in sibsp
print data.isnull()['sibsp'].sum()

# Determine if null values in parch
print data.isnull()['parch'].sum()

# Determine if null values in parch
print data.isnull()['ticket'].sum()

False
True
0
0
0

## Buiding a predictive model
When we build our predictive model, my first asumption is that we have an end goal in mind.  What do we want to learn from the data we have? Since I don't know what outcome we want to predict I will naively answer this question. 

### Features to throw out:

We can throw out the cabin number, fare, and port of embarkation since none of these features provide any discerning value when analyzing the data.  The only value I can see for the port of embarkation is to determine where most of the passengers boarded which could give an indication which port is larger and possibly give an idea where each passenger lived.

### Features to keep:
* Ticket: Used to link passengers
* Survived: Used to predict survival rate amoung different groups of passengers
* Sex: Used to determine survival rate and ratio of the sexes across the passengers
* Name: Unique identifier
* Age: Used to determine average age of passengers and the age rangers for deceased and surviving passengers
* Passenger Class: Used to determine the number of deceased and surviving passengers from each socio econonmic status
* sibsp & parch: I can imagine many ways this data could be analyzed which is not limited to the following: what ratio of families potentially lost a family member(s), how many children were orphaned, how many parents lost their child.

### Features to clean:
The following features that we would keep contain null values: Age

The technique of dealing with missing data is dependent on the cost of patching the data vs. throwing the data out.
We would need to determine the best way to clean the age data.

### Other Considerations:
One thing the data does not provide that I would be interested in researching is whether the passenger was part of the crew or a passenger.  We could use this determine the age old idiom of the capatain or crew going down with the ship and if this held true with the Titanic.