# Brittney Kistner HW1: Titanic

import pandas as pd
import os

os.chdir('/Users/bkistner/Desktop/ga_data_science/projects/SF-DAT-20/Data')
data = pd.read_csv('titanic.csv')

# 3 more problems to finish

In [7]:
data.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

1) How many passengers are in our passenger list? From here forward, weâ€™ll assume our dataset represents the full passenger list for the Titanic.

In [106]:
#Check if there are any null passengers
print data.isnull().sum()['name'] 
len(data)

0

891

2) What is the overall survival rate?

In [38]:
# Check if there are any null values in the survived column
survival_rate = round((len(data[data['survived']==1])/float(len(data)))*100,2)
'Survival rate of %s%%' % survival_rate

'Survival rate of 38.38%'

3) How many male passengers were onboard?

In [34]:
data.isnull()['sex'] #Check if any values under sex are null
number_of_males = len(data[data['sex']=='male'])
'There were %s men' % number_of_males

'There were 577 men'

4) How many female passengers were onboard?

In [39]:
number_of_females = len(data[data['sex']=='female'])
'There were %s women' % number_of_females

'There were 314 women'

5) What is the overall survival rate of male passengers?

In [44]:
male = data['sex'] == 'male'
survived = data['survived'] == 1
number_of_male_survivors = len(data[male&survived])
male_survival_rate = round(number_of_male_survivors/float(len(data)),2)*100
'Male survival rate of %s%%' % male_survival_rate

'Male survival rate of 12.0%'

6) What is the overall survival rate of female passengers?

In [47]:
female = data['sex'] == 'female'
survived = data['survived'] ==1
number_of_female_survivors = len(data[female&survived])
female_survival_rate = round(number_of_female_survivors/float(len(data)),2)*100
'Female survival rate of %s%%' % female_survival_rate

'Female survival rate of 26.0%'

7) What is the average age of all passengers onboard?
    * How did you calculate this average age?
    * Note that some of the passengers do not have an age value. How did you deal with this? What are some other ways of dealing with this?

In [71]:
#TODO


# Number of null age values
number_of_missing_ages = (len(data) - data['age'].count())
print "Total number of passengers where an age value is missing:   %s" % number_of_missing_ages
print "Total number of passengers aboard:   %s" % len(data)
print "Percent of passengers missing an age:   %s%%" % round((number_of_missing_ages/float(len(data)))*100,2)



# There are a couple of approaches we can take to calcualting the average age of passengers:

# Option 1
# Take the average age of passengers exlcluding null rows
round(data['age'].mean(),2)

# Option 2
# Populate the null values with the average

# Neither option is a good representation of the full passenger list of the Titanic

Total number of passengers where an age value is missing:   177
Total number of passengers aboard:   891
Percent of passengers missing an age:   19.87%

29.7

8) What is the average age of passengers who survived?

In [73]:
round(data[data['survived'] == 1]['age'].mean(),2)

28.34

9) What is the average age of passengers who did not survive?

In [74]:
round(data[data['survived'] == 0]['age'].mean(),2)

30.63

10) At this (early) point in our analysis, what might you infer about any patterns
you are seeing?

More women and younger passengers survived. Let's see if it's inclusive or exclusive of women and young people vs women or young people

In [79]:
# FINISH
print data[female&survived]['age'].mean()
print data[male&survived]['age'].mean()

28.847715736
27.2760215054

11) How many passengers are in each of the three classes of service (e.g. First,
Second, Third?)

In [96]:
# Determine if any values in the pclass column are missing
print len(data) - data['pclass'].count()

first_class_total = len(data[data['pclass'] == 1])
second_class_total = len(data[data['pclass'] == 2])
third_class_total = len(data[data['pclass'] == 3])

print "First class total: %s" % first_class_total
print "Second class total: %s" % second_class_total
print "Third class total: %s" % third_class_total

First class total: 216
Second class total: 184
Third class total: 491

12) What is the survival rate for passengers in each of the three classes of service?

In [104]:
class_dict = {1:["First", first_class_total], 2: ["Second", second_class_total], 3: ["Third", third_class_total]}

for i,j in class_dict.items():
    survival_rate = round((len(data[((data['pclass'] == i) & survived)])/float(j[1]))*100,2)
    print "%s class survival rate: %s%%" % (j[0],survival_rate)

First class survival rate: 62.96%
Second class survival rate: 47.28%
Third class survival rate: 24.24%

13) What else might you conclude?

Although more third class passengers were on the titantic compared to first and second class passengers, less third class passengers survived.

14) Last, if we were to build a predictive model, which features in the data do you
think we should include in the model and which can we leave out? Why?

In [ ]:
#FINISH